
header {
    background-color: #ffffff;
    border: solid 5px;
    border-color: #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 50px;
    font-size: 40px;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("https://media.istockphoto.com/vectors/fruits-seamless-pattern-banana-background-on-blue-background-vector-vector-id1045435744");
    background-size: 150px 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
}


nav {
    
}


.aboutMe {
    border-bottom: 3px solid #666666;
    border-width: 80%;
    margin-left: 20px;
    margin-right: 20px;
}


img {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    float: left;
}


.wrapper {
    padding: 20px;
    height: auto;
}


section {
    background-color: #ffffff;
    border-color: #dddddd;
    width: 960px;
    height: 500px;
    margin: auto;
}





footer {
    background-color: #666666;
    height: -960px;
    border-top: 8px solid #4aaaa5;
    height: 50px;
}

